$icon-config: (
  size: (
    small: var(--font-size-small),
    medium: var(--font-size-base),
    large: var(--font-size-large),
    display: var(--font-size-display),
    default: var(--font-size-base),
    h1: var(--font-size-h1),
    h2: var(--font-size-h2),
    h3: var(--font-size-h3),
    h4: var(--font-size-h4),
    h5: var(--font-size-h5),
    h6: var(--font-size-h6),
  ),
  variant: (
    none: inherit,
    default: inherit,
    primary: var(--color-primary-600),
    secondary: var(--color-secondary-300),
    tertiary: var(--color-tertiary-700),
  ),
);

.icon {
  font-size: map-get($icon-config, size, default);
  color: map-get($icon-config, variant, default);
  display: inline-flex;

  @each $size, $value in map-get($icon-config, size) {
    &.size-#{$size} {
      font-size: $value;
    }
  }

  @each $variant, $value in map-get($icon-config, variant) {
    @if $variant != none or $variant != default {
      &.variant-#{$variant} {
        color: $value;
      }
    }
  }
}
