@import "../../scss/config";

.link {
  position: relative;

  &[aria-disabled="true"],
  &.disabled {
    color: var(--color-neutral-400) !important;
    cursor: not-allowed;
    @media (hover: hover) {
      &:hover {
        &.with-underline {
          &::after {
            width: 0 !important;
          }
        }
      }
    }
  }

  &[data-current="true"] {
    color: inherit !important;
    cursor: text;
    user-select: text !important;
  }
}

.link[href] {
  color: var(--link-color);
  transition: color var(--transition-duration) var(--transition-timing-function);

  @media (hover: hover) {
    &:hover {
      color: var(--link-color-hover);

      &.with-underline {
        &::after {
          width: 100%;
          transition: width var(--transition-duration) var(--transition-timing-function);
        }
      }
    }

    &:active {
      color: var(--link-color-active);
    }
    &:focus-visible {
      outline: none;
    }
  }
}

.link[href].with-underline {
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: var(--border-width);
    background-color: currentColor;
  }
}

@each $variant in $variants {
  .link[href].variant-#{$variant} {
    @if $variant != "default" {
      color: var(--color-#{$variant}-700);

      @media (hover: hover) {
        &:hover {
          color: var(--color-#{$variant}-1000);
        }
      }

      &:active {
        color: var(--color-#{$variant}-1100);
      }

      &.prefers-dark {
        color: var(--color-#{$variant}-300);

        @media (hover: hover) {
          &:hover {
            color: var(--color-#{$variant}-600);
          }
        }

        &:active {
          color: var(--color-#{$variant}-700);
        }
      }
    }
  }
}
